@mixin myflex ($direction:row, $wrap:nowrap,$justify:space-between, $align:center ){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content:$justify;
    align-items: $align;
}

@mixin myflex2($direction:column, $justify:space-between,){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;

}